/keycloak-22.0.3
/keycloak-22.0.3/*
/keycloak-22.0.3/**/*
/pics/*
/serivce-proxy
/serivce-proxy/*
/serivce-proxy/**/*
/service-gateway
/service-gateway/*
/service-gateway/**/*
/target/
/*.iml
/.idea/
/*.log
/.DS_Store
# Java-related
*.class
*.jar
*.war
*.ear
*.log

# Maven-specific
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ IDEA-specific
.idea/
*.iml

# Eclipse-specific
.project
.classpath
.settings/
*.snap

# Operating system-specific
.DS_Store
Thumbs.db

# Others
*.env
node_modules/
*.bak
*.tmp

/reactive-gateway/volume-data
/reactive-gateway/volume-data/*
/reactive-gateway/volume-data/**/*